*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff8f8;
}
.container{
    width: 1100px;
    background-color: gray;
    margin: 90px;
    border-radius: 6px;
}
.row{
    padding: 6px;
    display: flex;
}
.on button{
    width: 80px;
}
button{
    width: 67px;
    height: 45px;
    margin-left: 7px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    box-shadow: -1px -1px 1px #f3f3f3, 2px 2px 4px #000;
    outline: none;
    background-color: #000;
    color: white;
}
button:active{
    box-shadow: 1px 1px 3px #f3f3f3, -1px -1px 3px #000;
}
.espaces{
    flex: 1;
    background-color: maroon;
}
.delet{
    width: 120px;
    background-color: maroon;
}.tab{
    width: 120px;
    background-color: maroon;
}
.retourn{
    width: 123px;
    background-color: maroon;
}
.capslock{
    width: 145px;
    background-color: maroon;
}
.shift{
    width: 170px;
    background-color: maroon;
}
.six .other{
    width: 80px;
}
.command{
    width: 100px;
    background-color: maroon;
}
.space{
    flex: 1;
    background-color: maroon;
}
.seven{
    display: flex;
}
.flech{
    display: flex;
    flex-direction: column;
    row-gap: 3px;

}
.flech button{
    height: 20px;
}